<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loulan.mapper.ItemCatMapper">
    <select id="selectOptionListByParentId" resultType="map" parameterType="long">
        SELECT id, name as text FROM tb_item_cat WHERE parent_id = #{parentId}
    </select>
</mapper>