<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loulan.mapper.SellerMapper">
    <select id="updateStatus" parameterType="com.loulan.pojo.TbSeller">
        UPDATE tb_seller SET status = #{status} WHERE seller_id = #{sellerId}
    </select>
</mapper>