<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--远程服务调用-->
    <!--配置调用者名称-->
    <dubbo:application name="loulan-shop-web"/>
    <!--服务注册地址-->
    <dubbo:registry address="zookeeper://192.168.12.168:2181"/>
    <!--注解驱动，注入依赖服务-->
    <dubbo:annotation package="com.loulan.shop.controller"/>

    <!--映射器与适配器注解驱动-->
    <mvc:annotation-driven>
        <!--配置 application/json 数据转换引擎-->
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--文件上传解析器-->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!--最大5MB，单位bit：1024*1024*5-->
        <property name="maxUploadSize" value="5242880"/>
    </bean>

    <!--跨域资源访问-->
    <mvc:cors>
        <mvc:mapping path="/**"/>
    </mvc:cors>
</beans>