<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--dubbo服务提供者-->
    <dubbo:protocol name="dubbo" port="20881"/>
    <dubbo:application name="loulan-content-service"/>
    <dubbo:registry address="zookeeper://192.168.12.168:2181"/>
    <dubbo:annotation package="com.loulan.content.service.impl"/>

</beans>